html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    color: white;
    height: 100vh;
}

#wrap404 h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10px;
}

#wrap404 h2 {
    font-size: 1.5rem;
    margin: 0;
}

#wrap404 header {
    padding: 10px;
    margin-bottom: 0;
}

#wrap404 header img {
    width: 15%;
    height: auto;
}

#wrap404 main {
    text-align: center;
}

#wrap404 #mainContainer img {
    width: 900px;
    height: auto;
}

#wrap404 a {
    color: aliceblue;
    display: block;
    font-size: 1.5em;
}

#wrap404 footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
    #wrap404 h1 {
        margin-bottom: 10px;
    }

    #wrap404 h2 {
        margin-bottom: 10px;
    }

    #wrap404 header img {
        margin-bottom: 2em;
    }

    #wrap404 #mainContainer img {
        width: 600px;
        height: auto;
        margin-bottom: 8em;
    }

    #wrap404 footer {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    #wrap404 h1 {
        font-size: 1.2em;
    }

    #wrap404 h2 {
        font-size: 1em;
    }
    #wrap404 #mainContainer img {
        width: 400px;
        height: auto;
        margin-bottom: 8em;
    }
    #wrap404 a {
        font-size: 1.2em;
    }
}