@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --percentage: 100; /* Utilizza la percentuale delle wrong! Parte da 100 per logica di stile */
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    color: white;
}

.resultsContainer h1,h2,h3,h4,h5,h6 {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    margin: 4px;
}

.resultsContainer {
    width: 80%;
    margin: 36px auto;
}

.resultsContainer header img {
    width: 15%;
}

.resultsContainer .main{
    text-align: center;
}

.resultsContainer span {
    display: block;
}

.resultsContainer .title, .output {
    margin-bottom: 48px;
}

.resultsContainer .title span {
    font-size: 1.6em;
}

.resultsContainer .output {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultsContainer .left, .right, .center {
    width: 20%;
}

.resultsContainer .output .left {
    text-align: left;
}

.resultsContainer .output .right {
    text-align: right;
}

.resultsContainer .center {
    width: 350px;
    height: 350px;
}

.resultsContainer .donutBg, .donut {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: radial-gradient(transparent 0% 50%,#00ffff 50%) ;
    border-radius: 50%;
}

.resultsContainer .donut {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultsContainer .donut::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:radial-gradient(transparent 0% 50%,#d20094 50%) ; 
    mask: conic-gradient(#00ffff 0% calc(var(--percentage)*1%),transparent calc(var(--percentage)*1%) 0%);
    -webkit-mask: conic-gradient(#00ffff 0% calc(var(--percentage)*1%),transparent calc(var(--percentage)*1%) 0%);
    border-radius: 50%;
}

.resultsContainer .innerDonutDiv {
    width: 60%;
    position: absolute;
}

.resultsContainer .innerDonut1 span {
    color: #00ffff;
}

.resultsContainer .innerDonut1 {
    font-size: 1.2em;
    font-weight: 900;
}

.resultsContainer .innerDonut2 {
    font-size: 0.8em;
}

.resultsContainer #rateUs {
    width: 20%;
    height: 56px;
    fill: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    font-weight: 900;
    border: 3px solid white;
    color: white;
    box-shadow: 0px 0px 60px 0px #00ffff50; ;
}